.custom-select {
    font-size: 1.5rem; /* Specific adjustment for dbc.Select component */
}

.custom-checkbox {
    font-size: 1.5rem; /* Specific adjustment for dbc.Select component */
}


/* Date picker */
.DateRangePicker {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
  position: relative;
  display: inline-block;
  width:100%;
}
.DateInput_input, .DateInput_input_1 {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
  text-align: center;
  height: 34px !important;
  width: 100% !important;
  padding-left: 3px !important;
  padding-right: 3px !important;  
  font-size: 0.9em;
  color: #fff !important;  /* Changed to white for better contrast on dark backgrounds */
  background-color: #2C3E50 !important; /* Dark background color from the Darkly palette */
  border-color: #34495e !important; /* Slightly lighter border color for subtle contrast */
}

.DateRangePickerInput__withBorder {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
  background-color: transparent;  /* Dark background consistent with the theme */
  border-radius: 4px;
  border: 1px solid #375a7f;  /* Use the primary color of Darkly for the border */
  color: #fff;  /* Text color to white for readability */
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);  /* Softer shadow for a more embedded look */
  width:100%;
  text-align: center;
}


/*range slider*/

.rc-slider-track {
  background-color: #375a7f;
}

.rc-slider-dot-active {  
  border-color: #375a7f;
  border: solid 2px #375a7f;
}

.rc-slider-handle {
  background-color: #375a7f;
  border-color: #375a7f;
}

.rc-slider-handle:hover {
  border-color: #375a7f;
}

.rc-slider-handle-active:active {
  border-color: #375a7f;
}